<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831335988481-rq74fu37hoqgaras2dhjlqhn38hrejm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831335988481-rq74fu37hoqgaras2dhjlqhn38hrejm1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>831335988481-8e7lr9aram9kpbt0m7s4r84r7ven74a3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhVPNQuE_FDeKTZdpMwcwyDrLYm5Wdin0</string>
	<key>GCM_SENDER_ID</key>
	<string>831335988481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koshkikode.unshelvd</string>
	<key>PROJECT_ID</key>
	<string>unshelvd</string>
	<key>STORAGE_BUCKET</key>
	<string>unshelvd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>GOOGLE_APP_ID</key>
	<string>1:831335988481:ios:64c3bd645970422bac2f00</string>
</dict>
</plist>
